<form #formulario_alumno="ngForm" (ngSubmit)="en_edicion ? actualizarAlumno() : crearAlumno()">
    <div class="form-group">
        <label for="nombre">NOMBRE</label>
        <input #nombre="ngModel" id="nombre"  [(ngModel)]="alumno.nombre" type="text" class="form-control" name="nombre" placeholder="Intro el nombre del alumno" required pattern=".{3,10}">
        <div class="alert alert-danger" [hidden]="nombre.valid||!formulario_alumno.submitted">
            El nombre debe tener entre 3 y 10 caracteres
        </div>
    </div>
    <div class="form-group">
        <label for="apellido">APELLIDO</label>
        <input #apellido="ngModel" id="apellido"  [(ngModel)]="alumno.apellido" type="text" class="form-control" name="apellido" placeholder="Intro apellido" required>
        <div class="alert alert-danger" [hidden]="apellido.valid||!formulario_alumno.submitted">
            El apellido es obligatorio
        </div>
    </div>
    <div class="form-group">
        <label for="nombre">EMAIL</label>
        <input #email="ngModel" id="email"  [(ngModel)]="alumno.email" type="text" class="form-control" name="email" placeholder="Intro el email del alumno" required email>
        <div class="alert alert-danger" [hidden]="email.valid||!formulario_alumno.submitted">
            Introduzca un email válido
        </div>
    </div>
    <div class="form-group">
        <label for="nombre">EDAD</label>
        <input #edad="ngModel" id="edad"  [(ngModel)]="alumno.edad" type="number" class="form-control" name="edad" placeholder="Intro edad del alumno" required min="0" max="130">
        <div class="alert alert-danger" [hidden]="edad.valid||!formulario_alumno.submitted">
            La edad debe estar entre 0 y 130
        </div>
    </div>
    <br>
    <!--<button type="submit" [class]="estiloBoton()">CREAR</button>-->
    <button type="submit" [class]="estiloBoton()" [disabled]="!formulario_alumno.valid">{{(en_edicion)? "ACTUALIZAR" : "CREAR"}}</button>
</form>
